# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

#git ignore files that can't be added
'2-HTML CSS JS React/1-Stefan/2021/3-March/March 22/redux/node_modules/babel-preset-react-app/node_modules/@babel/preset-react/node_modules/@babel/plugin-transform-react-jsx-self/lib/.gitattributes'
'2-HTML CSS JS React/1-Stefan/2021/3-March/March 22/redux/node_modules/eslint-plugin-testing-library/node_modules/@typescript-eslint/experimental-utils/_ts3.4/dist/eslint-utils/InferTypesFromRule.d.ts'
