* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#cat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

a {
  color: #8c77ff;
  margin: 40px;
}

body {
  background-image: linear-gradient(120deg, #65f6e3, #ffc7fc);
  color: rgb(192, 124, 255);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

form input:focus {
  outline-style: solid;
  outline-color: rgb(192, 124, 255);
}

form button {
  color: #65f6e3;
  background-color: white;
  cursor: pointer;
}

div button {
  color: rgb(192, 124, 255);
  cursor: pointer;
}

::placeholder {
  color: rgba(192, 124, 255, 0.3);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background-color: tomato;
  border: none;
  color: white;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background-color: lightgreen;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: rgba(192, 124, 255, 0.3);
  width: 13rem;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #65f6e3;
  color: white;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}

.select:hover::after {
  background-color: white;
  color: #65f6e3;
}
